{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Hank Digital Trade</p>
        </div>
    </div>
</header>

<div class="container ">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-center">Our Mission</h2>
            <p class="text-center">Our mission is to provide the best quality products to our customers at the best prices. We are committed to providing the best customer service and we are always looking for ways to improve our services.</p>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">Our Vision</h2>
            <p class="text-center">Our vision is to become the leading online store in the world. We are constantly looking for ways to improve our services and we are always looking for ways to expand our product range.</p>
        </div>
    </div>
    <div class="row">
       <center>
        <div class= "col-8">
            <p align="justify">
                <br> <br>
                Welcome to Hank Trade Ecommerce, your premier destination for all things related to online trading and commerce. At Hank Trade, we're dedicated to providing a seamless and user-friendly platform where traders, sellers, and buyers can come together to engage in a dynamic marketplace experience. Whether you're a seasoned trader or just starting your journey into ecommerce, we offer a wide range of tools, resources, and support to help you succeed.
<br> <br>
Our platform is designed with the needs of our users in mind, offering intuitive navigation, robust security features, and customizable options to tailor your trading experience to your specific preferences. From advanced analytics and reporting tools to real-time market updates and trend analysis, Hank Trade provides the insights and information you need to make informed decisions and stay ahead of the curve in today's competitive ecommerce landscape.
<br> <br>
At Hank Trade, we prioritize transparency, integrity, and customer satisfaction above all else. Our dedicated team of professionals is committed to delivering excellence in every aspect of our service, from our responsive customer support to our comprehensive seller and buyer protection policies. With Hank Trade, you can trade with confidence, knowing that you're part of a trusted community driven by a shared passion for ecommerce innovation and success. Join us today and unlock the full potential of online trading with Hank Trade Ecommerce.
            </p>
        </div>
    </center>
    </div>
            
{% endblock %}