{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Available Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose Category</p>
        </div>
    </div>
</header>
<br> <br>
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            
    <center>
        </div>

        {% for category in categories %}
            <h3> <a href="{% url 'category' category %}"> {{ category }} <a><h3>

        {% endfor%}
    </center>

    </div>
</div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
            
{% endblock %}