{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login To Your Account</h1>
            <p class="lead fw-normal text-white-50 mb-0">PLease login to continue</p>
        </div>
    </div>
</header>

<div class="container ">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-center">LOGIN</h2>
            <p class="text-center">Our mission is to provide the best quality products to our customers at the best prices. We are committed to providing the best customer service and we are always looking for ways to improve our services.</p>
        </div>
        
    </div>
    </center>
    </div>
            
{% endblock %}