{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login To Your Account</h1>
            <p class="lead fw-normal text-white-50 mb-0">PLease login to continue</p>
        </div>
    </div>
</header>
<br>
    <br>
    <br>
<div class="container ">
    <div class="row">
        <div class="col-lg-8">
            
            <form method="POST" action= {% url 'login' %}>

                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter Username">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                
                  
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
              </form>

        </div>
        
    </div>
    </center>
    </div>
    <br>
    <br>
    <br>
            
{% endblock %}