{% extends "base.html" %}

{% block content %}

<br> <br>

<div class="container ">
    
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="---">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name}}</h5>
              <p class="card-text">{{product.description}}</p>

              {%if product.is_sale %}
              <p > <b>Hot Deals</b><p>
              <strike>
                Ksh {{product.price}}
                </strike>
                <br>
                Ksh {{product.sale_price}}


              {%else%}

                Ksh {{product.price}}

              {%endif%}

              <br><br><br><br>

              <a href="{% url 'home'%}" class="btn btn-secondary"> HOME <a>

              <button type="button" value='{{product.id}}' class="btn btn-primary" id='add-cart' data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add to Cart
              </button>

         

            </div>
          </div>
        </div>
      </div>
        

</div>

<br>
<br>
<br>
<br>
<br>

<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "cart_add" %}', // this is the url where the data will be posted
      data: {
        'product_id': $('#add-cart').val(),
              'csrfmiddlewaretoken': '{{csrf_token}}', 
              action: 'post',
      },

      success: function(json){
        document.getElementById('cart_quantity').textContent = json.Qty ;
      },

      error: function(xhr, errmsg, err){
        
      }

    });

    })
    
</script>
            
{% endblock %}