{% extends "base.html" %}

{% block content %}

<br> <br>

<div class="container ">
    
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="---">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name}}</h5>
              <p class="card-text">{{product.description}}</p>

              {%if product.is_sale %}
              <p > <b>Hot Deals</b><p>
              <strike>
                Ksh {{product.price}}
                </strike>
                <br>
                Ksh {{product.sale_price}}


              {%else%}

                Ksh {{product.price}} 


              {%endif%}


              <br><br> <br>
              <div class="row justify-content-left">
              <div class="col-md-2">Quantity: </div>
                <div class="col-md-2">
                    <select class="form-select form-select-sm" id="qty-cart" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      
                    </select>
               </div>
            </div>
              <br><br>

              <a href="{% url 'home'%}" class="btn btn-secondary"> HOME <a>

              <button type="button" value="{{product.id}}" class="btn btn-primary" id="add-cart" >
                Add to Cart
              </button>

         

            </div>
          </div>
        </div>
      </div>
        

</div>

<br>
<br>
<br>
<br>
<br>

<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({

      type: 'POST',
      url: '{% url 'cart_update' %}',
      data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#add-cart option:selected').text(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },

      success: function(json){
        alert('Item added to cart');
        console.log(json);
        document.getElementById('cart_quantity').textContent = json.qty;
      },

      error: function(xhr, errmsg, err){
        console.log(xhr.status + ":" + xhr.responseText);
      }
        
    

    });



  });
    
</script>
            
{% endblock %}