{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update User Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update The User Info</p>
        </div>
    </div>
</header>
<br>
    <br>
    <br>
<div class="container ">
    <div class="row">
        <div class="col-lg-8">
            
            <form method="POST" action= {% url 'update_info' %}>

                {% csrf_token %}
              
                {{ form.as_p }}

                <br> <br>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
<br> <br>

        </div>
        
    </div>
    </center>
    </div>
    <br>
    <br>
    <br>
            
{% endblock %}